@mixin font_work($font-family , $font-size, $font-weight , $color){
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight;
    color: $color;
}
@mixin title(){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@mixin title_code(){
    @include font_work($font-family, 15px, 500, $background_colour);
    background: rgb(210, 228, 175);
    padding: 10px 30px;
    border-radius: 45px;
}