.property_part {
  padding-top: 100px;
  padding-bottom: 30px;
  .container {
    .title {
      @include title();
      p {
        @include title_code();
      }
    }
    .classic_part {
      padding-top: 60px;
      margin-bottom: 35px;
      h2 {
        @include font_work($font-family, 35px, 700, black);
        margin-bottom: 35px;
      }
      .classic_slick {
        .box_1 {
          box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
            rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
          width: 350px;
          img {
            width: 350px;
            height: 250px;
          }
          .text_box {
            padding: 25px 20px;
            display: flex;
            flex-direction: column;
            row-gap: 20px;
            span {
              @include font_work($font-family, 15px, 500, black);
            }
            p {
              @include font_work($font-family, 25px, 700, $background_colour);
              margin: 0;
            }
            .icon_flex {
              display: flex;
              flex-direction: row;
              column-gap: 10px;
              .icon {
                display: flex;
                i {
                  color: $background_colour;
                  font-size: 20px;
                }
                span {
                  @include font_work($font-family, 15px, 500, black);
                }
              }
            }
            .submit {
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
        }
      }
    }

    .new_part {
      padding-top: 60px;
      h2 {
        @include font_work($font-family, 35px, 700, black);
        margin-bottom: 35px;
      }
      .new_slick {
        .box_1 {
          box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
            rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
          width: 350px;
          img {
            width: 350px;
            height: 250px;
          }
          .text_box {
            padding: 25px 20px;
            display: flex;
            flex-direction: column;
            row-gap: 20px;
            span {
              @include font_work($font-family, 15px, 500, black);
            }
            p {
              @include font_work($font-family, 25px, 700, $background_colour);
              margin: 0;
            }
            .icon_flex {
              display: flex;
              flex-direction: row;
              column-gap: 10px;
              .icon {
                display: flex;
                i {
                  color: $background_colour;
                  font-size: 20px;
                }
                span {
                  @include font_work($font-family, 15px, 500, black);
                }
              }
            }
            .submit {
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
        }
        .left {
          color: $background_colour;
          font-size: 30px;
          margin-bottom: 10px;
        }
        .right {
          color: $background_colour;
          font-size: 30px;
          margin-top: 10px;
        }
      }
    }
  }
}
